<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YET</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/YET.styles.css" asp-append-version="true" />*@

    <!-- SITE TITLE -->
    <title>IELTS in Karnal, PTE in karnal, S English in karnal, Visa Consulting</title>
    <meta name="author" content="Your English Teacher" />
    <meta name="description" content="Online IELTS Course, Offline IELTS Course in Karnal, Online Spoken English Course, Offline Spoken English Course in karnal, study visa in karnal " />
    <meta name="keywords" content="Best IELTS Institute in Karnal, Best PTE Institute in Karnal, Best SPOKEN Institute in Karnal,Best IELVisa Consultants in Karnal ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- FAVICON AND TOUCH ICONS  -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="icon" href="#" type="~/image/x-icon">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- FONT ICONS -->
    @*    <link href="../../../../use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">--%>
    *@
    <link href="~/css/flaticon.css" rel="stylesheet">

    <!-- PLUGINS STYLESHEET -->
    <link href="~/css/menu.css" rel="stylesheet">
    <link id="effect" href="~/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="~/css/tweenmax.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">

    <!-- TEMPLATE CSS -->
    <link href="~/css/salmon.css" rel="stylesheet">




    <!-- STYLE SWITCHER CSS -->
    @*<link href="css/aqua.css" rel="alternate stylesheet" title="aqua-theme">
        <link href="css/blue.css" rel="alternate stylesheet" title="blue-theme">
        <link href="css/darkred.css" rel="alternate stylesheet" title="darkred-theme">
        <link href="css/green.css" rel="alternate stylesheet" title="green-theme">
        <link href="css/olive.css" rel="alternate stylesheet" title="olive-theme">
        <link href="css/orange.css" rel="alternate stylesheet" title="orange-theme">
        <link href="css/red.css" rel="alternate stylesheet" title="red-theme">
        <link href="css/teal.css" rel="alternate stylesheet" title="teal-theme">
        <link href="css/yellow.css" rel="alternate stylesheet" title="yellow-theme">*@

    <!-- RESPONSIVE CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">

    @*<script data-ad-client="ca-pub-3990100869712060" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@



</head>
<body>
    <div id="page" class="page">
        <div id="mySidenav" class="sidenav">
            <a href="#" id="about">About</a>
            <a href="#" id="blog">Blog</a>
            <a href="#" id="projects">Projects</a>
            <a href="#" id="contact">Contact</a>
        </div>
        <!-- HEADER
                  ============================================= -->
        <header id="header-2" class="header white-menu">
            <div class="header-wrapper">


                <!-- MOBILE HEADER -->
                <div class="wsmobileheader clearfix">
                    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    <span class="smllogo">
                        <img src="~/images/yet.png" width="200" height="56" alt="ielts institute in karnal" />
                    </span>
                    <a href="tel:" class="callusbtn"><i class="fa fa-phone"></i></a>
                </div>


                <!-- HEADER STRIP -->
                <div class="headtoppart bg-white clearfix">
                    <div class="headerwp clearfix">

                        <!-- Infotmation -->
                        <div class="headertopleft">
                            <div class="header-info clearfix">
                                <span class="txt-400">
                                    <i class="fa fa-map-marker"></i>G/C 412, First Floor, Block A, CHD City, Near Karan Lake, Karnal, Haryana (132001)

                                </span>
                            </div>
                        </div>

                        <!-- Contacts -->
                        <div class="headertopright header-contacts">
                            <a class="callusbtn txt-400"><i class="fa fa-phone"></i>,</a>
                            <a class="callusbtn b-right txt-400">&#8194;+91 8570838141</a>
                            <a class="txt-400"><i class="fa fa-envelope"></i><span class="__cf_email__">info@yourenglishteacher.co.in</span></a>

                        </div>

                    </div>
                </div>
                <!-- END HEADER STRIP -->
                <!-- NAVIGATION MENU -->
                <div class="wsmainfull menu clearfix">
                    <div class="wsmainwp clearfix">


                        <!-- LOGO IMAGE -->
                        <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) -->
                        <div class="desktoplogo">
                            <a asp-action="Index" asp-controller="Home" class="logo-black">
                                <img src="~/images/yet.png" width="250" height="56" alt="ielts center in karnal">
                            </a>
                        </div>
                        <div class="desktoplogo">
                            <a asp-action="Index" asp-controller="Home" class="logo-white">
                                <img src="~/images/yet.png" width="250" height="56" alt="header-logo">
                            </a>
                        </div>


                        <!-- MAIN MENU -->
                        <nav class="wsmenu clearfix blue-header">
                            <ul class="wsmenu-list">



                                <li aria-haspopup="true"><a asp-action="Index" asp-controller="Home">Home<span class=""></span></a></li>
                                <!-- DROPDOWN MENU -->
                                <!-- END DROPDOWN MENU -->

                                <li aria-haspopup="true">
                                    <a href="#">About<span class="wsarrow"></span></a>
                                    <ul class="sub-menu">

                                        <li aria-haspopup="true"><a asp-action="Aboutus" asp-controller="Home">About Us <span class=""></span></a>
                                        <li aria-haspopup="true"><a asp-action="Team" asp-controller="Home">Our Team <span class=""></span></a>

                                    </ul>
                                </li>
                                <!-- END DROPDOWN MENU

                                <!-- PAGES -->
                                <li aria-haspopup="true">
                                    <a href="#">Services<span class="wsarrow"></span></a>
                                    <div class="wsmegamenu clearfix">
                                        <div class="container">
                                            <div class="row">

                                                <!-- MEGAMENU LINKS -->
                                                <ul class="col-lg-4 col-md-12 col-xs-12 link-list">
                                                    <li class="title">Trainings:</li>
                                                    <li aria-haspopup="true"><a asp-action="IELTS" asp-controller="Services">IELTS <span class=""></span></a>
                                                    <li aria-haspopup="true"><a href="#">PTE <span class=""></span></a>
                                                    <li aria-haspopup="true"><a asp-action="SpokenEnglish" asp-controller="Services">Spoken English <span class=""></span></a>

                                                </ul>

                                                <!-- MEGAMENU LINKS -->
                                                <ul class="col-lg-4 col-md-12 col-xs-12 link-list">
                                                    <li class="title">Study Visa:</li>
                                                    <li><a href="#">Australia</a></li>
                                                    <li><a href="#">UK</a></li>
                                                    <li><a asp-action="Canada" asp-controller="Services">Canada</a></li>
                                                    <li><a href="#">Other</a></li>

                                                </ul>

                                                <!-- MEGAMENU LINKS -->
                                                <ul class="col-lg-4 col-md-12 col-xs-12 link-list">
                                                    <li class="title">Outreach:</li>
                                                    <li><a href="#">Feed of Mind Workshop</a></li>

                                                </ul>

                                            </div>
                                            <!-- End row -->
                                        </div>
                                        <!-- End container -->
                                    </div>
                                    <!-- End wsmegamenu -->
                                </li>
                                <!-- END PAGES -->
                                <!-- MEGAMENU -->
                                <li aria-haspopup="true">
                                    <a href="#">Offers<span class="wsarrow"></span></a>
                                    <div class="wsmegamenu clearfix">
                                        <div class="container">
                                            <div class="row">


                                                <!-- MEGAMENU QUICK LINKS -->
                                                <div class="col-md-12 col-lg-3">

                                                    <!-- Title -->
                                                    <h3 class="title">What We Offer:</h3>

                                                    <ul class="link-list">
                                                        <li><a href="#">Student Visa Assessment</a></li>
                                                        <li><a href="#">Working Visa Assessment</a></li>
                                                        <li><a href="#">Business Visa Assessment</a></li>
                                                        <li><a href="#">PR Visa Assessment</a></li>
                                                        <li><a href="#">Visa Eligibility Assessment</a></li>
                                                        <li><a href="#">Family Visa Assessment</a></li>
                                                        <li><a href="#">Immigration Consultation</a></li>
                                                    </ul>

                                                </div>
                                                <!-- END MEGAMENU QUICK LINKS -->
                                                <!-- MEGAMENU FEATURED NEWS -->
                                                <div class="col-md-12 col-lg-5">

                                                    <!-- Title -->
                                                    <h3 class="title">Featured News:</h3>

                                                    <!-- Image -->
                                                    <div class="fluid-width-video-wrapper mb-15">
                                                        <a href="https://play.google.com/store/apps/details?id=co.loki.yet">
                                                            <img src="~/images/blog/featured-news.jpg" alt="featured-news" />
                                                        </a>
                                                    </div>

                                                    <!-- Text -->
                                                    <h5 class="h5-md"><a href="#">Carry 8 band in your pocket</a></h5>
                                                    <p class="wsmwnutxt">
                                                        Yes, now it's possible. Download our mobile app and take your coaching center wherever you go.
                                                    </p>

                                                </div>
                                                <!-- END MEGAMENU FEATURED NEWS -->
                                                <!-- MEGAMENU LATEST NEWS -->
                                                <div class="col-md-12 col-lg-4">

                                                    <!-- Title -->
                                                    <h3 class="title">Latest News:</h3>

                                                    <!-- Latest News -->
                                                    @*         <%--<ul class="latest-news">

                                                        <!-- Post #1 -->
                                                        <li class="clearfix d-flex align-items-center">

                                                        <!-- Image -->
                                                        <img class="img-fluid" src="images/blog/latest-post-1.jpg" alt="blog-post-preview" />

                                                        <!-- Text -->
                                                        <div class="post-summary">
                                                        <a href="#">Etiam sapien risus ante auctor tempus accumsan an empor ...</a>
                                                        <p>43 Comments</p>
                                                        </div>

                                                        </li>

                                                        <!-- Post #2 -->
                                                        <li class="clearfix d-flex align-items-center">

                                                        <!-- Image -->
                                                        <img class="img-fluid" src="images/blog/latest-post-2.jpg" alt="blog-post-preview" />

                                                        <!-- Text -->
                                                        <div class="post-summary">
                                                        <a href="#">Blandit tempor a sapien ipsum, porta risus auctor justo ...</a>
                                                        <p>38 Comments</p>
                                                        </div>

                                                        </li>

                                                        <!-- Post #3 -->
                                                        <li class="clearfix d-flex align-items-center">

                                                        <!-- Image -->
                                                        <img class="img-fluid" src="images/blog/latest-post-3.jpg" alt="blog-post-preview" />

                                                        <!-- Text -->
                                                        <div class="post-summary">
                                                        <a href="#">Cursus risus an auctor risus laoreet turpis auctor varius ...</a>
                                                        <p>29 Comments</p>
                                                        </div>

                                                        </li>
                                                        </ul>--%>*@
                                                </div>
                                                <!-- END MEGAMENU LATEST NEWS -->


                                            </div>
                                            <!-- End row -->
                                        </div>
                                        <!-- End container -->
                                    </div>
                                    <!-- End wsmegamenu -->
                                </li>
                                <!-- END MEGAMENU -->
                                @* <li aria-haspopup="true"><a href="#">Student<span class="wsarrow"></span></a>
                                    <ul class="sub-menu">

                                    <li aria-haspopup="true"><a href="useraccount/account/login.aspx">Login <span class=""></span></a>
                                    <li aria-haspopup="true"><a href="useraccount/account/signup.aspx">Registration<span class=""></span></a>

                                    </ul>
                                    </li>*@
                                <!-- END DROPDOWN MENU

                                    <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a asp-action="Contactus">Contact Us</a></li>



                                <li class="nl-simple" aria-haspopup="true">
                                    <a href="#">Online Course<span class="wsarrow"></span></a>
                                    <ul class="sub-menu">

                                        <li aria-haspopup="true"><a style="background-color: #ff0000; color: white; border-color: #ff0000;" target="_blank" href="https://play.google.com/store/apps/details?id=co.loki.yet">Download Mobile App <span class="header-btn btn-primary tra-black-hover last-link"></span></a>
                                        <li aria-haspopup="true"><a asp-action="CourseFeature" asp-controller="Services">Online Course Features <span class=""></span></a>

                                    </ul>
                                </li>


                                <li class="nl-simple" aria-haspopup="true">
                                    <a style="background-color: #ff0000; border-color: #365f91;" href="https://blog.yourenglishteacher.co.in/" target="_blank" class="header-btn btn-primary tra-black-hover last-link">Blog</a>
                                </li>


                            </ul>
                        </nav>
                        <!-- END MAIN MENU -->

                    </div>
                </div>
                <!-- END NAVIGATION MENU -->


            </div>
            <!-- End header-wrapper -->
        </header>
        <!-- END HEADER -->



        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <footer id="footer1" class="bg-blue-map wide-40 footer division">
        <div class="container white-color">


            <!-- FOOTER CONTENT -->
            <div class="row">


                <!-- FOOTER CONTACTS -->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <div class="footer-box mb-40">

                        <!-- Title -->
                        <h5 class="h5-md">Head Office</h5>

                        <!-- Address -->
                        <p>
                            G/C 412, First Floor, Block A, CHD City,
                        </p>
                        <p>Near Karan Lake, Karnal, Haryana (132001)</p>

                        <!-- Phone -->
                        <p class="mt-20">Phone: </p>


                        <!-- Email -->
                        <p class="foo-email">
                            Email:
                        <p><span class="__cf_email__">info@yourenglishteacher.co.in</span></p>
                        </p>

                        <!-- Phone -->
                        <p>Office Time: 9AM - 5PM</p>

                    </div>
                </div>


                <!-- FOOTER LINKS -->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <div class="footer-links mb-40">

                        <!-- Title -->
                        <h5 class="h5-md">Countries</h5>

                        <!-- Footer Links -->
                        <ul class="foo-links clearfix">
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">United Kingdom</a></li>
                            <li><a href="#">USA</a></li>
                            <li><a href="#">Germany</a></li>
                            <li><a href="#">Netherlands</a></li>
                        </ul>

                    </div>
                </div>


                <!-- FOOTER LINKS -->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <div class="footer-links mb-40">

                        <!-- Title -->
                        <h5 class="h5-md">Visas</h5>

                        <!-- Footer Links -->
                        <ul class="foo-links clearfix">
                            <li><a href="#">Students Visa</a></li>
                            <li><a href="#">Travel Visa</a></li>
                            <li><a href="#">PR Visa</a></li>
                            <li><a href="#">Business Visa</a></li>
                            <li><a href="#">Work Visa</a></li>
                            <li><a href="#">Family Visa</a></li>
                        </ul>

                    </div>
                </div>


                <!-- FOOTER NEWSLETTER FORM -->
                <div class="col-lg-3 col-xl-3">
                    <div class="footer-form mb-20">

                        <!-- Title -->
                        <h5 class="h5-md">Stay Always In Touch</h5>

                        <!-- Newsletter Form Input -->
                        <div class="newsletter-form">

                            <div class="input-group">
                                <h1 style="font-size: 12px; color: white;">ielts general preparation, </h1>
                                <h2 style="font-size: 12px; color: white;">cambridge english ielts </h2>
                                <h3 style="font-size: 12px; color: white;">cambridge ielts academic </h3>
                                <h4 style="font-size: 12px; color: white;">grammar for ielts cambridge </h4>
                                <h5 style="font-size: 12px; color: white;">best ielts online coaching </h5>
                                <h6 style="font-size: 12px; color: white;">best ielts preparation online </h6>
                                <h3 style="font-size: 12px; color: white;">ielts general online coaching  </h3>
                                <h3 style="font-size: 12px; color: white;">ielts general coaching online </h3>
                                <h3 style="font-size: 12px; color: white;">ielts exam preparation near me </h3>
                                <h3 style="font-size: 12px; color: white;">ielts listening tips and tricks for band 9  </h3>
                                <h3 style="font-size: 12px; color: white;">books on ielts preparation </h3>
                                <h3 style="font-size: 12px; color: white;">the best preparation for ielts  </h3>
                                <h3 style="font-size: 12px; color: white;">ielts coaching books </h3>
                                <h3 style="font-size: 12px; color: white;">english ielts vocabulary pdf  </h3>
                                <h3 style="font-size: 12px; color: white;">ielts general best books </h3>
                                <h3 style="font-size: 12px; color: white;">ielts speaking course  </h3>

                                <div class="fb-like"
                                     data-share="true"
                                     data-width="450"
                                     data-show-faces="true">
                                </div>
                                @*                                <%-- <input type="email" class="form-control" placeholder="Your email address" required="" id="Email1" name="EMAIL">--%>
                                *@                                <span class="input-group-btn">
                                    @* <%--<button type="submit" class="btn btn-primary tra-white-hover">Subscribe</button>--%>*@
                                </span>
                            </div>

                            <!-- Newsletter Form Notification -->
                            <label for="s-email" class="form-notification"></label>

                        </div>

                    </div>
                </div>


            </div>
            <!-- END FOOTER CONTENT -->
            <!-- BOTTOM FOOTER -->
            <div class="bottom-footer">
                <div class="row d-flex align-items-center">



                    <!-- FOOTER SOCIALS LINKS -->
                    <div class="col-md-12 col-lg-12 text-right">
                        <p class="footer-copyright">© Copyright <span>Your English Teacher</span>. All Rights Reserved Developed By:- <a href="https://www.wayainfotech.com" target="_blank">Waya InfoTech</a></p>

                        @*     <p class="p-sm"><a href="privacy.aspx" target="_blank">Privacy Policy</a></p>
                            <p class="p-sm"><a href="TEAM.aspx" target="_blank">Terms &amp; Conditions</a></p>
                            <p class="p-sm"><a href="#">Cookies</a></p>*@
                    </div>
                    <div><a href='https://www.symptoma.com/en/info/covid-19'>Coronavirus vs. Flu</a></div>

                    <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=9edd3d81aad82a5ad53607ecf337a00a48568ada'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/712123/t/5"></script>


                </div>
            </div>
            <!-- END BOTTOM FOOTER -->


        </div>
        <!-- End container -->
    </footer>


    <!-- EXTERNAL SCRIPTS
    ============================================= -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/jquery.easing.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/jquery.scrollto.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/hero-request-form.js"></script>
    <script src="~/js/hero-register-form.js"></script>
    <script src="~/js/request-form.js"></script>
    <script src="~/js/contact-form.js"></script>
    <script src="~/js/comment-form.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>

    <!-- Custom Script -->
    <script src="~/js/custom.js"></script>




    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*   <script src="~/js/site.js" asp-append-version="true"></script>*@
    @*   @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
