@{
    ViewData["Title"] = "Canada";
}

<!-- INNER PAGE WRAPPER
            ============================================= -->
<div class="inner-page-wrapper">




    <!-- COUNTRY DETAIL PAGE HERO
    ============================================= -->
    <section id="australia-page" class="page-hero-section division">
        <div class="container">
            <div class="row">


                <!-- PAGE HERO TEXT -->
                <div class="col-md-7">
                    <div class="hero-txt white-color">
                        <h2 class="h2-xs">Canada</h2>
                    </div>
                </div>	<!-- END PAGE HERO TEXT -->


            </div>    <!-- End row -->
        </div>	   <!-- End container -->
    </section>	<!-- END COUNTRY DETAIL PAGE HERO -->
    <!-- BREADCRUMB
    ============================================= -->
    <div id="breadcrumb" class="bg-darkblue division">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb white-color">
                            <li class="breadcrumb-item"><a href="#">&#91; Home &#93;</a></li>
                            <li class="breadcrumb-item"><a href="#">Country List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Canada</li>
                        </ol>
                    </nav>
                </div>
            </div>  <!-- End row -->
        </div>	<!-- End container -->
    </div>	<!-- END BREADCRUMB -->
    <!-- ABOUT-9
    ============================================= -->
    <section id="about-9" class="wide-60 about-section division">
        <div class="container">
            <div class="row">


                <!-- ABOUT TEXT -->
                <div class="col-lg-8">
                    <div class="about-9-txt mb-40 pr-15">

                        <!-- Image -->
                     @*   <%--<div class="about-9-img mb-40">
                            <img class="img-fluid" src="images/image-10.jpg" alt="about-image" />
                        </div>--%>*@

                        <!-- Title -->
                        <h3 class="h3-md">Study. Work. Live in Canada</h3>

                        <!-- Text -->
                        <p>
                            Canada is a nation located in North-most region of North America. It’s the world’s second largest country by total area. Canada's capital is Ottawa, and its three largest metropolitan areas are Toronto, Montreal, and Vancouver. A multitude of languages are used by Canadians, with English and French. Canada is religiously diverse, encompassing a wide range of beliefs and customs. Canada has no official church, and the government is officially committed to religious pluralism. Freedom of religion in Canada is a constitutionally protected right.
                        </p>

                        <p>According to the 2016 Canadian Census, the country's largest self-reported ethnic origin is Canadian (accounting for 32 percent of the population),[d] followed by English (18.3%), Scottish (13.9%), French (13.6%), Irish (13.4%), German (9.6%), Chinese (5.1%), Italian (4.6%), First Nations (4.4%), Indian (4.0%), and Ukrainian (3.9%). A developed country, Canada has the sixteenth-highest nominal per-capita income globally.</p>
                        <p>There are 10 Canadian provinces, with three territories to the north. The provinces are, in alphabetical order: Alberta, British Columbia, Manitoba, New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Quebec, and Saskatchewan. The three territories are Northwest Territories, Nunavut, and Yukon. (Courtsey: Tripsavvy)</p>

                        <!-- Image -->
                        <div class="about-9-img mb-40">
                            <img class="img-fluid" src="~/images/canada.jpg" alt="Canada-image" />
                        </div>
                        <!-- List -->
                        <h5 class="h5-md mt-25"><b>Largest Cities in Canada</b> (population-wise):</h5>
                        <ol class="txt-list">

                            <li><span>Toronto</span></li>
                            <li><span>Montreal</span></li>
                            <li><span>Calgary</span></li>

                            <li><span>Ottawa</span></li>
                            <li><span>Edmonton</span></li>
                            <li><span>Mississauga</span></li>
                            <li><span>Winnipeg</span></li>
                            <li><span>Vancouver</span></li>
                            <li><span>Brampton</span></li>
                            <li><span>Hamilton</span></li>

                            <li><span>Major religion:</span> Christianity</li>

                        </ol>

                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Education:</h5>

                        <p>According to a 2019 report by the OECD, Canada is one of the most educated countries in the world. Canada spends about 5.3 percent of its GDP on education. When it comes to global recognition, Canadian institutions are top ranked all over the world. More than 100 educational institutions among top 100 worldwide and more than 100’000 international students choose Canada as their study destination every year. Canada boasts of high-quality education standards, safest living and unmatched reputation which make it an attraction to the talent worldwide. In Canadian cities you can see people from almost all races of all nations all over the world making it a very cosmopolitan place to live, for everybody.</p>

                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Study Options:</h5>

                        <!-- Text -->
                        <p>
                            Canada offers a range of study options for international students. Among diverse options are Diplomas, advance diplomas, Associate Degree, Bachelorette, Masters and PG Diplomas. One can choose as per his qualification and requirement. Canadian institutions are divided into College and University system. There are many institutions which have direct affiliation with universities.
                        </p>

                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Cost of Studying in CANADA:</h5>

                        <!-- Text -->
                        <p>Education cost in Canada is much lower as compared to the UK and USA and even living expenses are manageable. Relaxed immigration rules and range of study options expand the reach of education system to all.</p>
                        <p>Annual fee starts from $9000 and Living expenses are approximately $700-$1000 per month</p>
                        <p>
                            Only institutions that have a valid DLI number can invite students to come & Study in Canada. The list of DLI institutions along with their DLI Number can be found
                            at <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/prepare/designated-learning-institutions-list.html" target="_blank">this link</a>
                        </p>
                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Work Rights:</h5>

                        <!-- Text -->
                        <p>
                            Students that come to Canada has rights to work part time along with their study for upto 20 hours per week. During vacations, students can work full-time also. After completion of Study, eligible students get 2 years Post Study Work permit (PSW or PGWP) also.
                            You also need to know whether your education provider is eligible to get you Post Study Work permit (PSW or PGWP) or not.
                        </p>
                        <p><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/prepare/designated-learning-institutions-list.html" target="_blank">Click on this link to check which institutions are PSW eligible:-</a></p>

                        <p><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/work.html" target="_blank">Also check this Link:-</a></p>
                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Watch this Short Video to know about Working in Canada:</h5>

                        <!-- Text -->
                        <p></p>

                        <!-- Medium Title -->
                        <h4 class="h4-xs mt-30">The top Universities of Canada: (Watch Video: ):</h4>
                        <ul class="txt-list">

                            <li><span>University of Toronto.</span></li>
                            <li><span>University of Waterloo.</span></li>
                            <li><span>Ryerson University.</span></li>

                            <li><span>University of De Montreal.</span></li>
                            <li><span>Queen's University.</span></li>
                            <li><span>University of Victoria.</span></li>
                            <li><span>Western University.</span></li>
                            <li><span>University of British Columbia.</span></li>
                            <li><span>York university.</span></li>
                            <li><span>University of Regina.</span></li>

                        </ul>

                        <h4 class="h4-xs mt-30">Top Colleges in Canada: (Watch Video: ):</h4>

                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Institutes:</h5>

                        <div class="row">

                            <!-- List -->
                            <div class="col-lg-6">
                                <ol class="txt-list list-column">

                                    <li>George Brown College</li>
                                    <li>Seneca College</li>
                                    <li>Humber College</li>
                                    <li>Centennial College</li>
                                    <li>St. clair College</li>

                                </ol>
                            </div>

                            <!-- List -->
                            <div class="col-lg-6">
                                <ol class="txt-list">

                                    <li>Shridan</li>
                                    <li>Conestoga</li>
                                    <li>Franchawe</li>
                                    <li>Georgian College</li>
                                    <li>Niagara College</li>


                                </ol>
                            </div>

                        </div>

                        <!-- Small Title -->
                        <h5 class="h5-md mt-25">Student Visa application step by step:</h5>

                        <!-- Text -->
                        <p>
                            All international students need to obtain a study permit and Visa prior to entering Canada for study. Visa requirements are set by Canadian Immigration Act and Regulations. Academic and Language requirements vary based upon the level of desired study course and course provider.
                        </p>
                        <p>Student Visa application contains various steps starting from your course provider selection to grant of visa. </p>
                        <p>To understand it in an easy way, watch our Video tutorial here: </p>
@*                        <%--  <p><iframe width="853" height="480" src="https://www.youtube.com/embed/ausWweQMGy8?list=PLCAJjpAbHQTeN3O3oILLWv_OdLAjeQ7Mo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>--%>
*@                        <!-- List -->
                     @*   <%--	<ul class="txt-list">

                            <li>Tempor magna ipsum vitae purus primis pretium</li>
                            <li>Pretium ligula rutrum luctus blandit porta justo</li>
                            <li>Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis</li>

                        </ul>--%>
*@

                    </div>
                </div>	<!-- END ABOUT TEXT -->
                <!-- SIDEBAR -->
                <aside id="sidebar" class="col-lg-4">


                    <!-- SIDEBAR FORM -->
                    <div id="request-form" class="mb-40">
                        <div name="requestForm" class="row request-form bg-darkblue">

                            <!-- Request Form Text -->
                            <div class="col-md-12 white-color">
                                <h5 class="h5-lg">Free Consultation</h5>
                            </div>

                            <!-- Request Form Input -->
                            <div id="input-name" class="col-md-12">
                                <input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" required>
                            </div>

                            <!-- Request Form Input -->
                            <div id="input-email" class="col-md-12">
                                <input type="text" name="email" class="form-control email" placeholder="Enter Your Email*" required>
                            </div>

                            <!-- Request Form Input -->
                            <div id="input-phone" class="col-md-12">
                                <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>
                            </div>

                            <!-- Request Form Select -->
                            <div id="input-visa" class="col-md-12 input-visa">
                                <select id="inlineFormCustomSelect1" name="visa" class="custom-select visa" required>
                                    <option value="">Select Visa</option>
                                    <option>Student Visa</option>
                                    <option>Travel visa</option>
                                    <option>Working Visa</option>
                                    <option>Business Visa</option>
                                    <option>Visitor Visa</option>
                                    <option>PR Visa</option>
                                </select>
                            </div>

                            <!-- Request Form Select -->
                            <div id="input-country" class="col-md-12 input-country">
                                <select id="inlineFormCustomSelect2" name="country" class="custom-select country" required>
                                    <option value="">Visa For</option>
                                    <option>Australia</option>
                                    <option>Canada</option>
                                    <option>United Kingdom</option>
                                    <option>USA</option>
                                    <option>Singapore</option>
                                    <option>Netherlands</option>
                                </select>
                            </div>

                            <!-- Request Form Button -->
                            <div class="col-md-12 form-btn">
                                <button type="submit" class="btn btn-primary tra-black-hover submit">Send Request</button>
                            </div>

                            <!-- Request Form Message -->
                            <div class="col-md-12 request-form-msg text-center">
                                <div class="sending-msg"><span class="loading"></span></div>
                            </div>

                        </div>
                    </div>	<!-- END SIDEBAR FORM -->
                    <!-- SIDEBAR CATEGORIES -->
                    <div class="blog-categories sidebar-div mb-50">

                        <!-- Title -->
                        <h5 class="h5-lg">Visa Categories: </h5>

                        <!-- List -->
                        <ul class="blog-category-list clearfix">
                            <li><a href="#" class="txt-400"><i class="fas fa-genderless"></i> Study Visa in Australia</a></li>
                            <li><a href="#" class="txt-400"><i class="fas fa-genderless"></i> Skilled Woker Visa</a></li>
                            <li><a href="#" class="txt-400"><i class="fas fa-genderless"></i> Work Permit Visa</a></li>
                            <li><a href="#" class="txt-400"><i class="fas fa-genderless"></i> PR and Migrate Visa</a></li>
                            <li><a href="#" class="txt-400"><i class="fas fa-genderless"></i> Business Visa</a></li>
                        </ul>

                    </div>


                    <!-- SIDEBAR COUNTRIES -->
                    <div class="sidebar-countries sidebar-div mb-50">

                        <!-- Title -->
                        <h5 class="h5-lg">Countries: </h5>

                        <!-- List -->
                        <ul class="sidebar-country-list clearfix">

                            <li>
                                <a href="country-detail.html">
                                    <img class="img-fluid" src="~/images/sidebar-canada.jpg" alt="sidebar-image" />Canada
                                </a>
                            </li>

                            <li>
                                <a href="country-detail.html">
                                    <img class="img-fluid" src="~/images/sidebar-uk.jpg" alt="sidebar-image" />United Kingdom
                                </a>
                            </li>

                            <li>
                                <a href="country-detail.html">
                                    <img class="img-fluid" src="~/images/sidebar-usa.jpg" alt="sidebar-image" />United States of America
                                </a>
                            </li>

                        </ul>

                    </div>


                </aside>	<!-- END SIDEBAR -->


            </div>    <!-- End row -->
        </div>     <!-- End container -->
    </section>	<!-- END ABOUT-9 -->
    <!-- HORIZONTAL GREY LINE -->
    <div class="section-divider"><div class="container"><div class="row"><div class="grey-border"></div></div></div></div>




