@{
    ViewData["Title"] = "CourseFeature";
}
 <link href="~/css/coursefeature.css" rel="stylesheet" />


  <!-- INNER PAGE WRAPPER
            ============================================= -->
    <div class="inner-page-wrapper">
    </div>
    <!-- ABOUT PAGE HERO
                ============================================= -->
    <section id="about-page" class="page-hero-section division">
        <div class="container">
            <div class="row">


                <!-- PAGE HERO TEXT -->
                <div class="col-md-7">
                    <div class="hero-txt white-color">
                        <h2 class="h2-xs">About Online Courses</h2>
                    </div>
                </div>
                <!-- END PAGE HERO TEXT -->


            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    <!-- END ABOUT PAGE HERO -->




    <!-- BREADCRUMB
                ============================================= -->
    <div id="breadcrumb" class="bg-darkblue division">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb white-color">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">&#91; Home &#93;</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Online Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- END BREADCRUMB -->

    <!-- ABOUT-2
                ============================================= -->


    <section id="about-2" class="wide-60 about-section division">
        <div class="container">

            <!-- About Us Start -->

            <div id="rs-about" class="rs-about sec-spacer">
                <div class="container">
                    <div class="row"><h3>About IELTS Online Course</h3></div>
                    <div class="row">
                        <div class="columns">
                            <ul class="price">
                                <li class="header">IELTS AC</li>
                                <li class="grey"><s>16,000/-</s> 11,999/-</li>
                                 <li>3 Month Validity</li>
                                <li>Day-wise Study Plan</li>
                                <li>100 Explanation videos</li>
                                <li>Daily Online Class</li>
                                <li>80+ <br /> Interview Model Answers</li>
                                <li>200+<br /> Writing Task 1 and Task 2 Model Answers</li>
                                <li>70+ <br />Reading Tests with Vocab + Answers</li>
                                <li>70+ <br />Listening Tests with Transcript + Answers</li>
                                <li>6000+ <br />Word Bank without Examples</li>
                                <li>600+ <br />Word Bank with Examples</li>
                                <li>13 (One every week)<br />Full Mock Tests with Band Score Report</li>
                                <li>39 (Thrice every week)<br />Telephonic Interviews with Experts</li>
                                <li>26 (Two every week)<br />Graded Writing Task 1 and Task 2</li>
                                <li>(One every week)<br />Listening & Reading Doubt Session</li>
                                <li>Free Study Visa Assessment</li>
                                <li>EMI Available</li>
                                <li class="grey"><a href="#" class="button">85708-38141</a></li>
                            </ul>
                        </div>



                        <div class="columns">
                            <ul class="price">
                                <li class="header">IELTS GT</li>
                                <li class="grey"><s>16,000/-</s> 11,999/-</li>
                                <li>3 Month Validity</li>
                                <li>Day-wise Study Plan</li>
                                <li>100 Explanation videos</li>
                                <li>Daily Online Class</li>
                                <li>80+ <br />Speaking Interview Model Answers</li>
                                <li>150+<br /> Writing Task 1 and Task 2 Model Answers</li>
                                <li>70+ <br />Reading Tests with Vocab + Answers</li>
                                <li>70+ <br />Listening Tests with Transcript + Answers</li>
                                <li>6000+ <br />Word Bank without Examples</li>
                                <li>600+ <br />Word Bank with Examples</li>
                                <li>13 (One every week)<br />Full Mock Tests with Band Score Report</li>
                                <li>39 (Thrice every week) <br />Telephonic Interviews with Experts</li>
                                <li>26 (Two every week)<br /> Graded Writing Task 1 and Task 2</li>
                                <li>(One every week) <br />Listening & Reading Doubt Session</li>
                                <li>Free Study Visa Assessment</li>
                                <li>EMI Available</li>
                                <li class="grey"><a href="#" class="button">85708-38141</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>





 <!-- About spoken course-->

                <div class="container">
                    <div class="row"><h3>About Spoken English Online Course</h3></div>
                    <div class="row">
                        <div class="columns">
                            <ul class="price">
                                <li class="header">Full Spoken English Course<br /> (Daily Teacher)</li>
                                <li class="grey"><s>8,000/-</s> 5,999/-</li>
                                 <li>3 Month Validity</li>
                                <li>Day-wise Study Plan</li>
                                <li>Daily Teacher Interaction</li>
                                <li>150+ Video Lectures</li>
                                <li>Speaking Vocab Bank</li>
                                <li>Daily Practice Exercises</li>
                                <li>Daily Use Conversations</li>
                                <li>Daily Use Common Sentences</li>
                                <li>Daily Use Common Vocabulary</li>
                                <li>EMI Available</li>
                                <li class="grey"><a href="#" class="button">85708-38141</a></li>
                            </ul>
                        </div>


                        <div class="columns">
                            <ul class="price">
                                <li class="header">Full Spoken English Course<br /> (Weekly Teacher)</li>
                                <li class="grey"><s>4,000/-</s> 1,999/-</li>
                                 <li>3 Month Validity</li>
                                <li>Day-wise Study Plan</li>
                                <li>Weekly Teacher Interaction</li>
                                <li>150+ Video Lectures</li>
                                <li>Speaking Vocab Bank</li>
                                <li>Daily Practice Exercises</li>
                                <li>Daily Use Conversations</li>
                                <li>Daily Use Common Sentences</li>
                                <li>Daily Use Common Vocabulary</li>
                                <li><s>EMI Available</s></li>
                                <li class="grey"><a href="#" class="button">85708-38141</a></li>
                            </ul>
                        </div>

                        <div class="columns">
                            <ul class="price">
                                <li class="header">Full Spoken English Course<br /> (Without Teacher)</li>
                                <li class="grey"><s>2,000/-</s> 999/-</li>
                                 <li>3 Month Validity</li>
                                <li>Day-wise Study Plan</li>
                                <li><s>Weekly Teacher Interaction</s></li>
                                <li>150+ Video Lectures</li>
                                <li>Speaking Vocab Bank</li>
                                <li>Daily Practice Exercises</li>
                                <li>Daily Use Conversations</li>
                                <li>Daily Use Common Sentences</li>
                                <li>Daily Use Common Vocabulary</li>
                                <li><s>EMI Available</s></li>
                                <li class="grey"><a href="#" class="button">85708-38141</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
             <!-- About spoken course END-->




    </section>
    <!-- About Us End -->



