
@{
    ViewData["Title"] = "IELTS";
}


			<!-- INNER PAGE WRAPPER
			============================================= -->	
			<div class="inner-page-wrapper">

                
				<!-- COURSE DETAILS PAGE HERO
				============================================= -->	
				<section id="course-details-page" class="page-hero-section division">
					<div class="container">	
						<div class="row">	


							<!-- PAGE HERO TEXT -->
							<div class="col-md-7">
								<div class="hero-txt white-color">
									<h2 class="h2-xs">IELTS</h2>
								</div>
							</div>	<!-- END PAGE HERO TEXT -->


						</div>    <!-- End row --> 
					</div>	   <!-- End container --> 
				</section>	<!-- END COURSE DETAILS PAGE HERO -->	




				<!-- BREADCRUMB
				============================================= -->
				<div id="breadcrumb" class="bg-darkblue division">
					<div class="container">
						<div class="row">
							<div class="col">
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb white-color">
								    	<li class="breadcrumb-item"><a href="Default.aspx">&#91; Home &#93;</a></li>
								    	
								    	<li class="breadcrumb-item active" aria-current="page">IELTS</li>
								  	</ol>
								</nav>
							</div>
						</div>  <!-- End row -->
					</div>	<!-- End container -->		
				</div>	<!-- END BREADCRUMB -->




				<!-- ABOUT-9
				============================================= -->
				<section id="about-9" class="wide-60 about-section division">
					<div class="container">	
						<div class="row">


							<!-- ABOUT TEXT -->
							<div class="col-lg-8">
								<div class="about-9-txt mb-40 pr-15">

									<!-- Title -->
									<h3 class="h3-md">IELTS Institute in Karnal</h3>
									<p>Your English Teacher was established on April 1st, 2013 with the sole
										aim to provide customized Training solutions to students and professionals who are
										planning to take IELTS test.</p>

										<p>To ensure success in the IELTS Exam, we have employed a team of experienced,
											trained and dedicated instructors to help with every step in the <strong>IELTS
											Preparation.</strong> Our unique teaching style and high success rate make us a 
											reliable <strong>IELTS institute in Karnal.</strong> Our small batch sizes assure
											personalized attention to every candidate. We offer latest study material 
											with multimedia tools to prepare for the IELTS Exam.</p>
									<!-- Text -->
									<h5 class="h5-md mt-25">About IELTS Exam</h5><p>IELTS is the International English Language Testing System, the world’s proven English language test. IELTS was one of the pioneers of four skills English language testing over 25 years ago, and continues to set the standard for English language testing today.
                                       
                                        IELTS is accepted as evidence of English language proficiency by over 9,000 organisations worldwide. Last year, more than 2.2 million tests were taken globally. IELTS is recognised as a secure, valid and reliable indicator of true-to-life ability to communicate in English for education, immigration and professional accreditation.

IELTS is jointly owned by British Council, IDP: IELTS Australia and Cambridge English Language Assessment through more than 900 test centres and locations in over 130 countries.
                                        					</p>

									<!-- Small Title -->
									
                                    <p>The total test duration is around 2 hours and 55 minutes for Listening, Reading and Writing modules.</p>
									<!-- List -->
									<ul class="txt-list">
												
										<li>Listening: 40 minutes, 30 minutes for which a recording is played centrally and additional 10 minutes for transferring answers onto the OMR answer sheet.</li>

										<li> Reading: 60 minutes.								
										</li>

										<li>Writing: 60 minutes.</li>

										<li>Speaking: 11–15 minutes.</li>

									</ul>
                                    <h6 class="btn-primary">(Note: No additional time is given for transfer of answers in Reading and Writing modules)</h6>
                                    <p>The first three modules – Listening, Reading and Writing (always in that order) – are completed in one day, and in fact are taken with no break in between. The Speaking Module may be taken, at the discretion of the test centre, in the period seven days before or after the other Modules.</p>
									 <!-- Image -->
									<div class="about-9-img mt-40 mb-40">
										<img class="img-fluid" src="~/images/ielts.png" alt="about-image" />
									</div>

									<!-- Text -->
									<p>The tests are designed to cover the full range of ability from non-user to expert user.</p>
                                   

									<!-- Small Title -->
								@*	<%--<h5 class="h5-md">IELTS Tips & Tricks:</h5>

									<!-- List -->
									<ul class="txt-list">
												
										<li>Tempor magna ipsum vitae purus primis pretium</li>
										<li>An magnis nulla dolor sapien augue erat iaculis</li>
										<li>Pretium ligula rutrum luctus blandit porta justo</li>
										<li>Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis</li>
										<li>Sapien undo pretium purus ligula tempus ipsum</li>
										<li>Quaerat sodales sapien undo euismod purus and blandit (Luctus Blandit Porta)</li>

									</ul>--%>*@

									<!-- Medium Title -->
									<h4 class="h4-xs mt-30">How to Prepare for IELTS</h4>


									<!-- Image -->
						 			<div class="blog-post-img blog-video text-center mb-30">

						 				<!-- Preview Image -->		
										<img class="img-fluid" src="~/images/image-11.jpg" alt="about-image" />	
@*
										<%--<!-- Change the link HERE!!! -->	
										<div class="video-preview icon-lg white-color">
											<a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">
												<span class="flaticon-159-play-button"></span>											
											</a>
										</div>--%>*@
									</div>


									<div class="row">
										
										<div class="col-lg-6">
											
											<!-- Small Title -->
											<h5 class="h5-md">Listening</h5>

											<!-- Text -->
											<p>The module comprises four sections of increasing difficulty. It takes 40 minutes: 30 – for testing, plus 10 for transferring the answers to an answer sheet. Each section, which can be either a monologue or dialogue, begins with a short introduction telling the candidates about the situation and the speakers. Then they have some time to look through the questions. The first three sections have a break in the middle allowing candidates to look at the remaining questions. Each section is heard only once. At the end of this section students are given 10 minutes to transfer their answers to an answer sheet.
											</p>

										</div>
                                        <div class="col-lg-6">
											
											<!-- Small Title -->
											<h5 class="h5-md">Speaking</h5>

											<!-- Text -->
											<p>The speaking test contains three sections. The first section takes the form of an interview during which candidates may be asked about their hobbies, interests, reasons for taking IELTS exam as well as other general topics such as clothing, free time, computers and the internet or family. In the second section candidates are given a topic card and then have one minute to prepare after which they must speak about the given topic. The third section involves a discussion between the examiner and the candidate, generally on questions relating to the theme which they have already spoken about in part 2. This last section is more abstract, and is usually considered the most difficult.
											</p>

										</div>
										<div class="col-lg-6">
											
											<!-- Small Title -->
											<h5 class="h5-md">Reading</h5>

											<!-- Text -->
											<p>In the academic module the reading test comprises three sections, with 3 texts normally followed by 13 or 14 questions for a total of 40 questions overall. The General test also has 3 sections. However the texts are shorter, so there can be up to 5 texts to read.
											</p>

										</div>

										<div class="col-lg-6">
											
											<!-- Small Title -->
											<h5 class="h5-md">Writing</h5>

											<!-- Text -->
											<p>In the Academic module, there are two tasks: in Task 1 candidates describe a diagram, graph, process or chart, and in Task 2 they respond to an argument. In the General Training module, there are also two tasks: in Task 1 candidates write a letter or explain a situation, and in Task 2 they write an essay.
											</p>

										</div>

										

									</div>

									@*<%--<!-- Small Title -->	
									<h5 class="h5-md mt-25">IELTS Eligibility:</h5>

									<!-- Text -->
									<p>Quisque laoreet turpis 
									   urna augue, viverra a augue eget, dictum tempor diam. Pulvinar vehicula vel imperdiet 
									   varius viverra. Pellentesque ac massa lorem. Fusce eu cursus nulla vitae massa dictum 
									   tempor diam. Nibh vel imperdiet dui varius viverra. Fusce eu cursus est nulla
									</p>

									<!-- List -->
									<ul class="txt-list">
												
										<li>Tempor magna ipsum vitae purus primis pretium</li>
										<li>An magnis nulla dolor sapien augue erat iaculis</li>
										<li>Pretium ligula rutrum luctus blandit porta justo</li>

									</ul>--%>*@

									<!-- Small Title -->	
								@*	<%--<h5 class="h5-md mt-25">Tests Structure:</h5>

									<!-- Text -->
									<p>Aliqum  mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae and 
									   congue auctor magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam 
									   sapien sagittis congue tempor gravida donec enim ipsum porta justo integer at odio velna
									   placerat purus, aliquet elementum massa mollis risus lectus porta rutrum magna dignissim,
									   porttitor hendrerit
									</p>

									<!-- List -->
									<ul class="txt-list">
												
										<li>An magnis nulla dolor sapien augue erat iaculis</li>
										<li>Pretium ligula rutrum luctus blandit porta justo</li>
										<li>Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis</li>
										<li>Sapien undo pretium purus ligula tempus ipsum</li>
										<li>Quaerat sodales sapien undo euismod purus and blandit (Luctus Blandit Porta)</li>

									</ul>--%>*@

								</div>
							</div>	<!-- END ABOUT TEXT -->


							<!-- SIDEBAR -->
							<aside id="sidebar" class="col-lg-4">


								<!-- SIDEBAR FORM -->
								<div id="request-form" class="mb-40">
									<div name="requestForm" class="row request-form bg-darkblue">

										<!-- Request Form Text -->      
	                                    <div class="col-md-12 white-color">
	                                        <h5 class="h5-lg">Free Consultation</h5>	
	                                    </div> 

	                                    <!-- Request Form Input -->
						                <div id="input-name" class="col-md-12">
                                            <asp:TextBox ID="txtname" class="form-control name" placeholder="Enter Your Name*" runat="server"></asp:TextBox>
						                	
						                </div>
						                     
						                <!-- Request Form Input -->       
						                <div id="input-email" class="col-md-12">
                                            <asp:TextBox ID="txtemail" class="form-control email" placeholder="Enter Your Email*" runat="server"></asp:TextBox>
						                						                </div>

										<!-- Request Form Input -->
						                <div id="input-phone" class="col-md-12">
                                            <asp:TextBox ID="txtmobile" class="form-control phone" placeholder="Enter Your Phone Number*" runat="server"></asp:TextBox>
						               
						                </div>	

						                <!-- Request Form Select -->
						                <div id="input-visa" class="col-md-12 input-visa">
                                            <asp:DropDownList ID="ddcourse" class="custom-select visa" runat="server">
                                                <asp:ListItem Text="">Select Course</asp:ListItem>
                                                <asp:ListItem Text="IELTS">IELTS</asp:ListItem>
                                                <asp:ListItem Text="PTE">PTE</asp:ListItem>
                                                <asp:ListItem Text="SPOKEN ENGLISH">SPOKEN ENGLISH</asp:ListItem>
                                            </asp:DropDownList>
						                
						                </div>

						                						                                            
						                <!-- Request Form Button -->
						                <div class="col-md-12 form-btn">
                                            <asp:Button ID="btnsubmit" class="btn btn-primary tra-black-hover submit" OnClick="btnsubmit_Click"   runat="server" Text="Send Request" />
						                	
						                </div>
						              			                                              
						            </div>
								</div>	<!-- END SIDEBAR FORM -->


								<!-- SIDEBAR CATEGORIES --> 
								<div class="blog-categories sidebar-div mb-50">
										
									<!-- Title -->
									<h5 class="h5-lg">Courses Categories: </h5>

									<!-- List -->
									<ul class="blog-category-list clearfix">
										<li><a href="Best-IELTS-Institute-in-Karnal.aspx" class="txt-400"><i class="fas fa-genderless"></i> IELTS Coaching</a></li>
										<li><a href="Best-PTE-Institute-in-Karnal.aspx" class="txt-400"><i class="fas fa-genderless"></i> PTE Coaching</a></li>
									    <li><a href="Best-SPOKEN-Institute-in-Karnal.aspx" class="txt-400"><i class="fas fa-genderless"></i> Spoken English</a></li>
									</ul>

								</div>


								<!-- SIDEBAR COUNTRIES --> 
								<div class="sidebar-countries sidebar-div mb-50">
										
									<!-- Title -->
									<h5 class="h5-lg">Countries: </h5>

									<!-- List -->
									<ul class="sidebar-country-list clearfix">

										<li><a href="canada-study-visa.aspx">
											<img class="img-fluid" src="~/images/sidebar-canada.jpg" alt="sidebar-image" />Canada</a>
										</li>

										<li><a href="#">
											<img class="img-fluid" src="~/images/sidebar-uk.jpg" alt="sidebar-image" />United Kingdom</a>
										</li>

										<li><a href="#">
											<img class="img-fluid" src="~/images/sidebar-usa.jpg" alt="sidebar-image" />United States of America</a>
										</li>

									</ul>

								</div>
							

							</aside>	<!-- END SIDEBAR -->


						</div>    <!-- End row -->
					</div>     <!-- End container -->
				</section>	<!-- END ABOUT-9 -->

       

            </div>
