
@{
    ViewData["Title"] = "About us | Your English Teacher";
}

  <!-- INNER PAGE WRAPPER
			============================================= -->
    <div class="inner-page-wrapper">
    </div>
    <!-- ABOUT PAGE HERO
				============================================= -->
    <section id="about-page" class="page-hero-section division">
        <div class="container">
            <div class="row">


                <!-- PAGE HERO TEXT -->
                <div class="col-md-7">
                    <div class="hero-txt white-color">
                        <h2 class="h2-xs">About YET</h2>
                    </div>
                </div>
                <!-- END PAGE HERO TEXT -->


            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    <!-- END ABOUT PAGE HERO -->




    <!-- BREADCRUMB
				============================================= -->
    <div id="breadcrumb" class="bg-darkblue division">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb white-color">
                            <li class="breadcrumb-item"><a href="Default.aspx">&#91; Home &#93;</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About YET</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- END BREADCRUMB -->

    <!-- ABOUT-2
				============================================= -->
    <section id="about-2" class="wide-60 about-section division">
        <div class="container">
            <!-- About Us Start -->
            <div id="rs-about" class="rs-about sec-spacer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="col-md-12">
                                  <iframe class="embed-responsive" height="340px" width="720px" src="https://www.youtube.com/embed/cPHQVjG4NcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                <div class="overly-border"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="about-desc">
                                <h2>WELCOME TO YET</h2>
                                <p>Your English Teacher was established on April 1st, 2013 with the sole aim to provide customized Training solutions to students and industry. We aim to establish ourselves as a Resource base for people who want to add value to their lives.</p>
                                <p>Over the years, we have touched the lives of thousands of students through our different communication training programs. Our “Feed of Mind” sessions have transformed the lives of many people and helped them build a positive attitude towards their life and society in general.</p>
                            </div>
                            <div id="accordion" class="rs-accordion-style1 ">
                                <div class="card ">
                                    <div class="card-header" id="headingOne">
                                        <h3 class="acdn-title " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Our Vision
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Your English Teacher aims to touch the lives of million and wants to keep the flame of education burning. Our objective is to lead the online education industry and be an emerging leader in the vertical of Life learning for youths. In immigration industry, we aim to serve the purpose of genuine consultancy and want to progress further as a single point of contact for all education abroad needs.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header " id="headingTwo">
                                        <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Mission
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>We do not consider ourselves a mere training center but aims to empower generations through Trainings and Education. As Mahatma Gandhi once said, “Education is the most powerful weapon to change the world”. We aim to deliver genuine content through our trainings and workshop and spread the flame of education to each and every one.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header mb-0" id="headingThree">
                                        <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Online Mission
                                        </h3>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>We believe that Education is for all and everybody. We run online education completely Free of cost and available to all. Our YouTube channel “Your English Teacher” provides free Programs on Spoken English and IELTS. We emphasize on Quality content and fair delivery to all. Another YouTube channel “Feed of Mind” serves as a platform we use to encourage and motivate students for success. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div></section>
            <!-- About Us End -->
            



    
    <!-- STATISTIC-3
			============================================= -->
    <div id="statistic-3" class="bg-image bg-scroll wide-60 statistic-section division">
        <div class="container white-color">


            <!-- STATISTIC 3 TITLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="statistic-3-title primary-border">
                        <h3 class="h3-lg">Thousands Of People Choose Our Services</h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">


                        <!-- STATISTIC BLOCK #1 -->
                        <div class="col-sm-6 col-md-3">
                            <div class="statistic-block icon-sm">

                                <!-- Text -->
                                <h5 class="yellow-color"><span class="count-element">760</span>+</h5>
                                <p>Happy Students</p>

                            </div>
                        </div>

                        <!-- STATISTIC BLOCK #2 -->
                        <div class="col-sm-6 col-md-3">
                            <div class="statistic-block icon-sm">

                                <!-- Text -->
                                <h5 class="yellow-color"><span class="count-element">148</span>+</h5>
                                <p>University Partners</p>

                            </div>
                        </div>

                        <!-- STATISTIC BLOCK #3 -->
                        <div class="col-sm-6 col-md-3">
                            <div class="statistic-block icon-sm">

                                <!-- Text -->
                                <h5 class="yellow-color"><span class="count-element">50</span>+</h5>
                                <p>Countries</p>

                            </div>
                        </div>

                        <!-- STATISTIC BLOCK #4 -->
                        <div class="col-sm-6 col-md-3">
                            <div class="statistic-block icon-sm">

                                <!-- Text -->
                                <h5 class="yellow-color"><span class="count-element">12</span></h5>
                                <p>Immigrations</p>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- END STATISTIC-3 -->


